{% extends "base.html" %}
{% comment %}
{% extends "jqm/simple.html" %}
{% endcomment %}

{% block title %}
    Webmote - {{ macro.name }}
{% endblock %}

{% block page_title %}
    Webmote - {{ macro.name }}
{% endblock %}
{% block content %}
<div id="macroName" style="display:none">
{{ macroName }}
</div>

<div data-role="content">	
    <div id="modifyMacro">
        <h2>{{ macroName }}</h2>
        <div class="ui-grid-a" id="macros_grid_fields">
            <div class="ui-block-a">
                <div class="ui-bar ui-bar-a" style="height:30px">Action</div>
            </div>
            <div class="ui-block-b">
                <div class="ui-bar ui-bar-a" style="height:30px">Delete</div>
            </div>
        </div>
        {% for macro in macros %}
            {% if macro.runnable %}
                <div class="ui-grid-a" id="macros_grid_row_{{ macros.id }}">
                    <div class="ui-block-a">
                        <div class="ui-bar ui-bar-a" style="height:30px">{{ macro.getActionName }}

                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="ui-bar ui-bar-a" style="height:30px">
                            <form method="post" action="">{% csrf_token %}
                                <input type="submit" name="deleteMacro" value="Delete" onclick="this.value='{{ macro.macroName }}';this.form.post()"/>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <h2>Add a new action to the macro.</h2>
        <h3>Select a new action:</h3>
        {% if devices %}
            {% for device in devices %}
                <div class="deviceCommands" id="{{ device.id }}" data-role="collapsible" data-collapsed="true" data-theme="a" data-content-theme="c">
                    <h2>{{ device.name }}</h2>
                    {% for action in device.actions %}
                        <a href="/bookmark/{{ action.id }}/" data-role="button" data-theme="c" >{{ action.name }}</a>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
