{% extends "base.html" %}
{% comment %}
{% extends "jqm/simple.html" %}
{% endcomment %}

{% block title %}
    Webmote
{% endblock %}

{% block page_title %}
    Webmote
{% endblock %}
{% block content %}
    <div data-role="content">	
        <ul data-role="listview" data-inset="true" id="userOptions">
            <li><a href="transceivers/">Transceivers ({{ transceivers.count }})</a></li>
            {% if transceivers %}
                <li><a href="devices/">Devices ({{ devices.count }})</a></li>
                {% if devices %}
                    <li><a href="lirc/">Auto-find Actions (not implemented)</a></li>
                    <li><a href="import/">Import Actions (not implemented)</a></li>
                    <li><a href="export/">Export Actions (not implemented)</a></li>
                {% endif %}
            {% endif %}
            <li><a href="help/">Help/How-to</a></li>
        </ul>
    </div>
{% endblock %}
