{% extends "base.html" %}
{% load url from future %}

{% block title %}
X10 Devices
{% endblock %}
{% block page_title %}
    X10 Devices
{% endblock %}

{% block content %}
    <div data-role="content">
        <script type="text/javascript" src="{{ STATIC_URL }}X10.js"></script>
        <div id="transceivers">
            <h2>X10 Devices</h2>
            {% if devices %}
                <div id="devices_grid">
                    <div class="ui-grid-b" id="devices_grid_fields">
                        <div class="ui-block-a">
                            <div class="ui-bar ui-bar-a" style="height:30px">Device</div>
                        </div>
                        <div class="ui-block-b">
                            <div class="ui-bar ui-bar-a" style="height:30px">Address</div>
                        </div>
                        <div class="ui-block-c">
                            <div class="ui-bar ui-bar-a" style="height:30px">Delete</div>
                        </div>
                    </div>
                    {% for d in devices %}
                        <div class="ui-grid-b" id="devices_grid_row_{{ command.id }}">
                            <div class="ui-block-a">
                                <div class="ui-bar ui-bar-a" style="height:30px">
                                    <a href="/x10/device/{{ d.id }}">{{ d.name }}</a>
                                </div>
                            </div>
                            <div class="ui-block-b">
                                <div class="ui-bar ui-bar-a" style="height:30px">{{ d.house }}{{ d.unit }}</div>
                            </div>
                            <div class="ui-block-c">
                                <div class="ui-bar ui-bar-a" style="height:30px">
                                    <form method="post" action="">{% csrf_token %}
                                        <input type="submit" name="deleteDevice" value="Delete" onclick="this.value='{{ d.id }}';this.form.post()"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h3>Currently there are no devices.</h3>
            {% endif %}
        </div>
        <div id="addDevice">
            <div id="addDeviceForm">
                <h2>Add a new device</h2>
                <form method="POST" action="">{% csrf_token %}
                    {{ deviceForm.as_table }}
                    <input type="submit" name="addDevice" value="Add Device" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
