{% extends "base.html" %}
{% comment %}
{% extends "jqm/simple.html" %}
{% endcomment %}

{% block title %}
    Webmote - Bookmarkable Actions
{% endblock %}

{% block page_title %}
    Webmote - Bookmarkable Actions
{% endblock %}
{% block content %}
    <div data-role="content">
        <h2>Bookmark Actions</h2>
        <p>If you want to perform an action without navigating the 
        site or even loading a webpage you can go to one of 
        these urls and then bookmark it.</p>

        {% if devices %}
            {% for device in devices %}
                <div class="deviceCommands" id="{{ device.id }}" data-role="collapsible" data-collapsed="true" data-theme="a" data-content-theme="c">
                    <h2>{{ device.name }}</h2>
                    {% for action in device.actions %}
                        <a href="/bookmark/{{ action.id }}/" data-role="button" data-theme="c" >{{ action.name }}</a>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}

        {% if actions %}
            <div class="Actions" id="otherActions" data-role="collapsible" data-collapsed="true" data-theme="a" data-content-theme="c">
                <h2>Other Actions</h2>
                {% for action in actions %}
                    <a href="/bookmark/{{ action.id }}/" data-role="button" data-theme="c" >{{ action.name }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
