{% extends "base.html" %}
{% comment %}
{% extends "jqm/simple.html" %}
{% endcomment %}

{% block title %}
    {{ name }}
{% endblock %}

{% block page_title %}
    {{ name }}
{% endblock %}
{% block content %}
    <div data-role="content">
        <h2>How to bookmark this page on Android</h2>
        <h3>Android 4.1</h3>
        <p>
            Hit the menu button and hit save to bookmarks. In the "Add to" field you can save the bookmark to "Bookmarks" or even better to your "Home screen."
        </p>
        <h2>How to bookmark this page on iOS</h2>
        <p>
            need to test with iOS
        </p>
    </div>
{% endblock %}
