{% extends "base.html" %}
{% comment %}
{% extends "jqm/simple.html" %}
{% endcomment %}

{% block title %}
    Webmote - Custom Remotes
{% endblock %}

{% block page_title %}
    Webmote - Custom Remotes
{% endblock %}
{% block content %}
    <div data-role="content">	
        <ul data-role="listview" data-inset="true" id="userOptions">
            <li><a href="/remotes/">Custom Remotes ({{ customRemotes.count }})</a></li>
            <li><a href="/auto_remotes/">Device Remotes ({{ devices.count }})</a></li>
            <li><a href="help/">Help/How-to</a></li>
        </ul>
    </div>
{% endblock %}
